<div class="main-page-wrapper">
  <div class="row text-center main-header">
    <h1>
      About Us
    </h1>
  </div>

  <div class="about-wrapper">
    <p>
      Since 1990, Wayne Christian, with Christian Construction has helped Bay Area homeowners make their remodeling dreams a reality. Our experienced craftsmen and personal attention to each project ensures that every customer is 100% satisfied. As the owner, I personally oversee every job from start to finish.
    <p>

    <h3>
      Wayne Christian's Experience
    </h3>

    <p>
      Wayne Christian graduated from California Polytechnic State University, San Luis Obispo, with a degree in Construction Management from the School of Architecture. He first started working as a Project Engineer on the 26 story Hilton Hotel in San Francisco. After working as a Construction Coordinator, building Custom Homes in Blackhawk, he decided to start his own construction company specializing in the design and remodeling of kitchens and bathrooms. Christian Construction has been a licensed General Contract and in business for 22 years.
    </p>

    <h3>
      Why Christian Construction?
    </h3>

    <p>
      We listen to our clients. We make note of all of the things that are important to you no matter how small the detail. We've heard many times from our past homeowners that it was the small things we did that made the job go so smoothly. We will do everything we can to gain your confidence, so you can sit back and enjoy watching your dream come true.
    </p>

    <h3>
      Talk To Our Past Homeowners
    </h3>

    <p>
      Please check out our Yelp reviews showing our many 5 star testimonials of past homeowners that have nothing but great things to say about us! Our goal for every job is to have the homeowner call us back for repeat business.
    </p>

    <h3>
      We Want To Be Your Contractor For Life
    </h3>

    <p>
      We are very proud of our long list of repeat and referral homeowners. 95% of our homeowners call us back with-in the first two years to do another bathroom, kitchen, or a home project. We have been serving some of our homeowners for over 20 years. We always give "the family discount" to our past homeowners, as well as a lifetime of free cabinet tune-ups and adjustments.
    </p>
    
  </div>
</div>