<div class="main-page-wrapper">
  <div class="row text-center main-header">
    <h1>
      Testimonials
    </h1>
  </div>

  <div class="testimonials-wrapper">
    <p>
      <i class="fa fa-quote-left fa-2x"></i>
      When I reflect on the two jobs handled by Wayne Christian - total remodel of the kitchen and remodel of the vanity area in the master bedroom - the following words come to mind: integrity, flexibility and craftsmanship. I found that I could trust his actions, commitments and opinions during the sequence of conceptual stage, detailed design, bidding and construction. His integrity enabled me to accept his work and make the best possible decision on aspects of the job. It's a great feeling to know that he had our best interests in mind. In addition, we were not always present during the construction, but we never worried about the home and its contents. As we all know, remodeling is a process. We were able to candidly discuss the progress and make adjustments when necessary. Wayne's flexibility and attitude make it easier for us to recognize an oversight or bad decision and to correct it. The end products and the relief of being thrilled with the results when the project was completed are a testimonial to his commitment and craftsmanship.
    </p>

     <p class="client-name"> 
       - Judy, Danville
     </p>

    <p>
      <i class="fa fa-quote-left fa-2x"></i>
      We just had a kitchen/family room remodel done by Wayne Christian. Wayne was recommended to us by the people who we chose to install our cabinets. From the start, my husband and I had very good feelings about Wayne and that never changed. He is an honest and reliable person. He takes great pride in the work he does and works very carefully to produce excellent quality work. He would work extra time when he felt something needed to be completed. Wayne always included us in the decision making. It was very important to him that we, the homeowner, were always happy with the results. One thing we knew was important in a remodel is how a contractor handles surprises and "extras" that the homeowner wants. Wayne was very easy going. He never got upset when something unexpected developed. Instead, he would come up with a creative way to solve the problem. As to price, Wayne's bid was very reasonable and he followed his bid exactly. When we wanted something extra, he carefully gave us a bid for that before any work was done. Even though we were ready to have our remodel completed, we never got tired of having Wayne here. As one former homeowner I spoke with said, "Wayne became like one of our family." We would highly recommend him to anyone interested in a remodel and whenever we're ready for another project, he'll be the one we call. By the way, our kitchen and family room are beautiful and we are very excited by how everything looks.
    </p>

    <p class="client-name">
      - Jill & Ed, Walnut Creek
    </p>

    <p>
      <i class="fa fa-quote-left fa-2x"></i>
      Wayne Christian remodeled our kitchen last winter and we couldn't be happier with his work. Wayne was very easy to work with and his cost and time estimates were on target. He spent a lot of time fitting our crown molding to our wavy walls and ceiling, and it looks wonderful. He also gave us a lot of advice, which helped us make good decisions about various issues with the remodel. We will definitely be having him back to help us with our bathroom remodels later.
    </p>

    <p class="client-name">
      - Cecilia & Victor, Danville
    </p>

    <p>
      <i class="fa fa-quote-left fa-2x"></i>
      I've lived with a 1970's kitchen with only one burner, dishwasher didn't work, and the ovens only setting was burn for 14 years. Cecilia Stolzer-Grote of The Cabinet Center and Wayne Christian of Christian Construction made my dream kitchen possible. The functionally of the kitchen didn't fit my family's needs, Cecilia helped me design a kitchen that was perfect for my house. Wayne was very helpful communicating with me other design suggestions that would be fitting to my every day needs. Wayne's workmanship was stellar, and he gave a lot of attention to details and was very flexible with my schedule. I highly recommend Cecilia for a great kitchen design and Wayne for his professionalism and constructional expertise.
    </p>

    <p class="client-name"> 
      - Marlene, Danville
    </p>

    <p>
      <i class="fa fa-quote-left fa-2x"></i>
      The Cabinet Center from San Ramon suggested we try Wayne from Christian Construction to carry out our kitchen remodel. When he came over for the introductory visit, he was very knowledgeable and had lots of references. We signed up on the basis of that visit alone not realizing that signing up for Christian Construction is signing up for Wayne himself. That, we think, is an enormous plus point. Most contractors give you their spiel but then farm everything out to people who may or may not know their stuff. With Christian Construction you get Wayne and Wayne is very knowledgeable, very handy - a real craftsman of which there are very few left - , very resourceful, very honest, approachable, and very customer-oriented. He is very meticulous about everything he does and when he is not fully satisfied with something, he redoes it (free of charge). When we did not like how something looked (he had followed the design and we did not realize what the design really entailed), he took it all down and came up with a solution that we really liked. He really does wonders with wood. In addition, having installed many kitchens and baths, he gives very good advice about the little things like the placements of handles, lights, the ideal distance between cabinets etc. Since he is THE person, his clients deal with everyday, he has amassed a trove of ideas, and we were never disappointed when we took his advice. It was always just right. Wayne takes customer-friendliness and customer respect to a new level. He cannot be more approachable than he actually is. He came out late on a weekend night to light our gas water heater, even though I was the one who had previously told him it was an electrical water heater. He also installed appliances just so that we could live somewhat comfortably even though he would later have to take them out again. He installed our exhaust hood at least 3 times in order to help us out, knowing he would have to take it out again once the back splash came in. He really went out of his way to help us at every turn. Frankly, I have never met a contractor like him. Also, he sees himself as the contractor even for those jobs for whom the client contracted someone else. He went out of his way to help us with and be our advocate with the people who installed our counter tops and back splash, and appliance providers. When the people who delivered our cabinets, dropped one cabinet and broke it, he and Cecilia from the Cabinet Center dealt with them and Wayne installed the broken one in our garage, after having it reinforced for a small cost. However, there were many, many small extra things he did for us free of charge and he was always available, even on weekends. We called him up a number of times on weekends, to get his advice before we bought something for the kitchen. When we update our bathroom, Wayne will be our contractor.
    </p>

    <p class="client-name">
      - Greta & Stan, San Ramon
    </p>
  </div>
</div>                 