.photo-upload-form-wrapper{
  & h2 {
    font-weight: 200;
    margin: 0 0 30px 0;
  }
  & .photo-form-input{
    margin: 0 0 15px 0;
    &:hover{
      cursor:pointer !important;
    }
  }
  & .checkbox{
    margin-right: 10px;
  }
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  overflow:hidden;
}

.photo-upload-submit{
  margin: 20px 0 0 0;
  & input {
    width: 100%;
  }
}


.photo-upload-form {
  position: relative;
  padding: 10px;
  overflow:hidden;
  border: 1px solid #336699;
  -webkit-box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
  -moz-box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
  box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
}

/****************/
/*    Show      */
/****************/

.photo-show-wrapper{
  position: relative;
  top:50px;
  & img {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
}